.rbc-event-content{
	margin-top: 2px;
}

.rbc-event{
	text-align: center;
	align-content: center;
	margin-left: 70px;
	font-size: 15px;
	margin-top: 40px;	
	height: 25px;
	width: 35px;
	border-radius: 15px !important;	
}

.rbc-day-bg{
	align-items: center;
}
/*
h4{
	margin-left: 30px;
}*/